@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #8FBBEC
}

input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 5px;
}

select {
    padding: 5px;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 65%;
}

form>* {
    margin-top: 30px;
}

/* first form */

.form-container {
    height: 100%;
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 151px;
    padding-bottom: 196px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;

}
.first-form{
	color: black;
}
.first-form>select {
    border: none;
    border-bottom: 1px solid gray;
}

.form-container>* {
    background-color: white;
}

.form-select-title {
    width: 100%;
    display: flex;
}

.form-input-numero {
    width: 20%;
}
.form-input-dev {
    width: 79%;
}
.form-input-loc {
    width: 61%;
}
.form-input-nom {
    width: 100%;
}
.form-input-env {
    width: 100%;
}
.form-input-pui {
    width: 25%;
}

.form-select-reg {
    width: 74%;
}

/* second form */

.form-container-right {
    
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #4053be;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);

}

.second-form>input {
	background-color: #4053be;
	color: white;
}

.second-form>select {
    background-color: #4053be;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
}

.second-form>select>option {
    background-color: white;
	color: black;
}

.second-form>select>option:first-child {
	color: black;
}

.second-form>input[type="text"]::placeholder {
    color: #fff;
}

.form-input-address {
    width: 100%;
}

.form-input-infos {
    width: 100%;
}

.form-input-zip {
    width: 38%;
}

.form-select-place {
    width: 60%;
}

.form-select-country {
    width: 100%;
}

.form-input-code {
    width: 38%;
}

.form-input-phone {
    width: 60%;
}

.form-input-email {
    width: 100%;
}

.form-check {
    background-color: #4735d5;
    border: none;
}

.btn {
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #95a1e5;
    border: 1px solid #95a1e5;
    color: white;
}