@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 5px;
}

select {
    padding: 5px;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 70px;
    margin-left: 150px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-form,
.second-form {
    width: 80%;
}

.first-form>* {
    margin-top: 30px;
}

.second-form>* {
    margin-top: 30px;
}

/* first form */

.form-container {
    height: 700px;
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
}

.first-form>select {
    border: none;
    border-bottom: 1px solid gray;
}

.form-container>* {
    background-color: white;
}

.form-select-title {
    width: 100%;
    display: flex;
}
.form-input-numero {
    width: 20%;
}
.form-input-dev {
    width: 79%;
}
.form-input-loc {
    width: 69%;
}
.form-input-nom {
    width: 100%;
}
.form-input-env {
    width: 100%;
}
.form-input-pui {
    width: 30%;
}
.form-input-prov {
    width: 60%;
}
.form-input-prod {
    width: 60%;
}
.form-input-sou {
    width: 39%;
}
.form-input-derr {
    width: 58%;
}
.form-input-rep {
    width: 40%;
}
.form-select-reg {
    width: 57%;
}
.form-select-co2 {
    width: 50%;
}
.form-input-name {
    width: 49%;
}
.form-input-obs {
    width: 100%;
}
.form-input-coo {
    width: 45%;
}
.form-input-geo {
    width: 53%;
}
.form-input-egeo {
    width: 100%;
}
.form-input-inv {
    width: 100%;
}
.form-input-avis {
    width: 49%;
}
.form-select-date {
    width: 100%;
}
.form-input-company {
    width: 100%;
}

.form-input-business {
    width: 60%;
}

.form-select-employees {
    width: 38%;
}

/* second form */

.form-container-right {
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4053be;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
}

.second-form>input {
    background-color: #4053be;
    color: white;
}

.second-form>select {
    background-color: #4053be;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
}

.second-form>select>option {
    background-color: white;
    color: black;
}

.second-form>select>option:first-child {
    color: black;
}

.second-form>input[type="text"]::placeholder {
    color: #fff;
}

.form-input-address {
    width: 100%;
}

.form-input-infos {
    width: 100%;
}

.form-input-zip {
    width: 38%;
}

.form-select-place {
    width: 60%;
}

.form-select-country {
    width: 100%;
}

.form-input-code {
    width: 38%;
}

.form-input-phone {
    width: 60%;
}

.form-input-email {
    width: 100%;
}

.form-check {
    background-color: #4735d5;
    border: none;
}

.btn {
    border-radius: 10px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
}