@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.contain {
	width: 1700px;
	padding: 2em;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}