@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4272d7;
    color: white;
    
  }